package <PROJECT_NAME>.boot 
{
	import cocktail.core.embedder.EmbedderTail;
%IMPORTS%
	
	/**
	 * @author shake
	 */
	public class Embedder extends EmbedderTail
	{
		
		public function Embedder()
		{
%CLASSES%
		}
	}
	
}