package <PROJECT_NAME>.views 
{
	import cocktail.core.data.dao.ProcessDAO;
	
	import <PROJECT_NAME>.AppView;	

	/**
	 * Handles the <AREA_NAME> interface.
	 * @author shake
	 */
	public class <AREA_NAME>View extends AppView 
	{
		/* ---------------------------------------------------------------------
			RENDERING
		--------------------------------------------------------------------- */
		
		/**
		 * Prepare everything before render.
		 */
		public function before_render () : void
		{
			switch ( current_process.action )
			{
%BEFORE_RENDER_CASES%
			}
		}
		
		/**
		 * Mount animation.
		 */
		public function after_render () : void
		{
			switch ( current_process.action )
			{
%AFTER_RENDER_CASES%
			}
		}
		
		
		
		/* ---------------------------------------------------------------------
			DESTROYING
		--------------------------------------------------------------------- */
		
		/**
		 * Unmount animation.
		 * @param dao	ProcessDAO to be destroyed.
		 */
		public function before_destroy ( dao : ProcessDAO ) : void
		{
			switch ( dao.action )
			{
%BEFORE_DESTROY_CASES%
			}
		}
	}
}