<?xml version="1.0" encoding="utf-8"?>
<view>
	
	<!-- ################################### LAYOUT ################################### -->
	<layout>
	
%ACTIONS%
		
	<layout>
	
	
	
	
	
	<!-- ################################### STYLES ################################### -->
	
	<styles>
		
		<!-- styles here -->
		
	</styles>
	
<view>