package <PROJECT_NAME>.controllers 
{
	import <PROJECT_NAME>.AppController;		

	/**
	 * Handles the <AREA_NAME> controller.
	 * @author shake
	 */
	public class <AREA_NAME>Controller extends AppController
	{
		/* ---------------------------------------------------------------------
			DEPENDENCIES
		--------------------------------------------------------------------- */
		
%DEPENDENCIES%
		
		
		
		/* ---------------------------------------------------------------------
			ACTIONS
		--------------------------------------------------------------------- */
		
%ACTIONS%
	}
}